/* TEST */

h2 {
    text-transform: capitalize;
}

/* RESET */

* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    vertical-align: middle;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* COMMON */

li, .btn, .fullscreen-offer h4, .bar, .partner img {
    display: inline-block;
}

.btn, footer, .results {
    color: white;
}

.our-offer, .results, .languages, .test {
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    /* do colori e altezza righe di default all'interno di body, per praticità */
    color: #33475b;
    line-height: 160%;
}

img {
    display: block;
}

.logo, .text-container {
    margin: 0;
}

.wrapper {
    padding: 25px 0;
    width: 80%;
}

li {
}

.offer-detail .three-cols li, .footer .links li {
    display: list-item;
}

/* Common floating */

.floater {
    float: left;
}

.float-container::after {
    content: "";
    display: table;
    clear: both;
}

.two-cols:first-of-type {
    width: 30%;
    margin-right: 5%;
}

.two-cols:last-of-type {
    width: 65%;
}

.three-cols {
    width: 30%;
}

.three-cols:nth-of-type(2) {
    margin: 0 5%;
}

.four-cols {
    width: 25%;
}

/* /Common floating */

.btn {
    background-color: #fe775a;
    /* TEST */
    padding: 10px 20px;
    border-radius: 5px;
}

/* Common-text */

/* comune a didascalia a btn gethubspotfree e didascalia numeri in .results*/

.caption {
    font-size: 80%;
}

p {
    /* TEST */
    margin: 30px 0;
}

/* END COMMON */

/* HEADER */

header {
    margin-top: 90px;
}

/* Navbar */

nav {
    height: 90px;
    line-height: 40px;
    padding: 0 10px;
}

nav li {
    margin-right: 10px;
}

li:last-child {
    margin-right: 0px;
}

#search {
    color: #00a4bd;
}

.log-btn {
    background-color: #fafcfe;
    color: #fe775a;
    border: 1px solid #fe775a;
}

.dropdown::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-left: 10px;
}

.top-nav {
    background-color: #f4f9fd;
    border-bottom: 1px solid #32495b;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.top-nav .btn {
    padding: 0 10px;
}

.divided::after {
    content: '';
    padding-right: 10px;
    border-right: 1px solid #32495b;
}

.navbar .floater:last-child {
    text-align: right;
    margin-right: 0;
}

/* END Navbar */

.jumbotron {
    position: relative;
    background-image: url("../img/jumbotron.png");
    background-repeat: no-repeat;
    background-color: #fff4ef;
    background-position: 100% 65%;
    /* TEST */
    height: 600px;
}

.text-container {
    width: 50%;
    padding-top: 6%;
}

.stripe {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #afebe4;
    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;
    height: 50px;
}

/* END HEADER */

/* MAIN */

/* SECTION our-offer */

.our-offer {
    background-color: #f4f9fd;
}

/* our-offer>slogan */

.slogan {
    /* TEST */
    width: 80%;
}

.slogan img {
    /* TEST */
    height: 120px;
}

/* /our-offer>slogan */

/* our-offer>offer-detail */

.our-offer ul {
    padding-top: 30px;
}

.our-offer li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f058";
    font-weight: bolder;
    color: #fe775a;
    margin-right: 4px;
}

.our-offer li, .fullscreen-offer {
    text-align: left;
}

.fullscreen-offer {
    background-color: white;
    margin-bottom: 20px;
}


.offer-detail .three-cols, .fullscreen-offer {
    box-shadow: 0 0 11px #eaf0f6;
    background-color: white;
    padding: 3%;
    border-radius: 7px;
}

.offer-detail h3 {
    padding-top: 25px;
}

.offer-detail h4 {
    text-transform: uppercase;
}

.offer-detail img {
    height: 120px;
}

.bar {
    border: 1px solid #899397;
    width: 90%;
}

/* /our-offer>offer-detail */

/* partners */

.partner {
    width: 85%;
}
.partner img {
    width: 18%;
    margin-right: 5%;
}

/* /partners */

/* results */

.results {
    background-image: linear-gradient(to right, #00a9ba, #00bba8);
}

.results .float-container:last-of-type {
    border-top: 1px solid white;
}

.results .floater:nth-child(1n+2) {
    border-left: 1px solid white;
}

.results .four-cols * {
    display: block;
    margin-bottom: 20px;
}

.results img {
    padding-top: 20px;
}

.big-num {
    font-size: 250%;
    font-weight: bolder;
}

.big-num::after {
    content: " +";
    font-size: 60%;
}

/* /results */

/* final-spot */

.final-spot {
    background-image: url("../img/woman.webp");
    background-repeat: no-repeat;
    background-size: contain;
    /* background-size: 300px; */
    /* TEST */
    background-position: 100% 100%;
    padding-bottom: 40px;
}

/* end results */

/* END MAIN */

/* FOOTER */

footer {
    background-color: #32495b;
}

footer .btn {
    background-color: #dadee0;
    color: #32495b;
    padding: 3%;
}

footer * {
    padding-right: 10px;
}

footer h5 {
    font-size: 120%;
    margin-bottom: 20px;
}

.languages {
    margin-top: 30px;
    border-bottom: 1px solid white;
}

.social * {
    width: 18%;
}

/* END FOOTER */