/* TEST */



/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    margin: auto;
    /* SPOSTALO DAL RESET! */
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* COMMON */

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 80%;
    margin: auto;
}

.float-container::after {
    content: "";
    display: table;
    clear: both;
}

.floater {
    float: left;
}

.floater:last-child {
    /* prova-prova */
    text-align: right;
}

.btn {
    color: white;
    background-color: #fe775a;
    /* TEST */
    border-radius: 5px;
}

.two-cols {
    width: 50%;
}

.three-cols {
    width: 33.33%;
}

p {
    /* TEST */
    margin-top: 30px;
}

/* END COMMON */

/* HEADER */

header li {
    display: inline-block;
}
/* TEST */
header li::after {
    content: '$';
}
nav {
    /* vertical-align: middle; */
    line-height: 50px;
}

.top-nav {
    background-color: #f4f9fd;
    border-bottom: 1px solid #32495b;
    /* TEST */
    height: 50px;
}

nav .logo {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    /* TEST */
    height: 30px;
}

.jumbotron {
    position: relative;
    background-image: url("../img/jumbotron.png");
    background-repeat: no-repeat;
    background-color: #fff4ef;
    background-position: 100% 65%;
    /* TEST */
    height: 600px;

}

.text-container {
    width: 50%;
    padding-top: 10%;
}

.stripe {
    position: absolute;
    bottom:  0;
    width: 100%;
    background-color: #afebe4;
    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;
        /* TEST */

    height: 50px;
}

/* END HEADER */

/* MAIN */

/* SECTION our-offer */

.our-offer {
    background-color: #f4f9fd;
}

/* our-offer>slogan */

.slogan {
    /* TEST */
    width: 80%;
    margin: auto;
    text-align: center;
}

.slogan img {
    /* TEST */
    height: 90px;
}

/* /our-offer>slogan */

/* our-offer>offer-detail */

.offer-detail {
    /* TEST */
    background-color: white;
    box-shadow: 0 0 11px #eaf0f6;
    text-align: center;
}

.offer-detail img {
    /* TEST */
    height: 100px;
}

/* results */

.results {
    color: white;
    /* TEST */
    background-color: blue;
}

/* end results */

/* END MAIN */

/* FOOTER */

/* END FOOTER */